@model IEnumerable<Dominio.Entidad.Negocio.Entidad.Producto>

@{
    ViewBag.Title = "Tienda";
}

<h2>Tienda</h2>


<form id="formBusqueda" method="get" class="row g-3 mb-4">
    <div class="col-md-4">
        <label class="form-label fw-semibold" for="categoria">Categoría</label>
        @Html.DropDownList("categoria", (SelectList)ViewBag.Categorias, "Seleccione", new
        {
            @class = "form-select",
            id = "categoria"
        })
    </div>
    <div class="col-md-4">
        <label class="form-label fw-semibold" for="nombre">Nombre</label>
        @Html.TextBox("nombre", Request["nombre"], new
        {
            @class = "form-control",
            placeholder = "Escribe el nombre del producto",
            id = "nombre"
        })
    </div>
    <div class="col-md-4 d-flex align-items-end">
        <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-search"></i> Buscar
        </button>
    </div>
</form>


<div id="resultados"></div>

<script>
    document.getElementById("formBusqueda").addEventListener("submit", function (e) {
        e.preventDefault();

        const categoria = document.getElementById("categoria").value;
        const nombre = document.getElementById("nombre").value;

        fetch(`/Producto/TiendaJson?categoria=${categoria}&nombre=${nombre}&p=0`)
            .then(res => res.json())
            .then(data => {
                let html = '<div class="row">'; // Contenedor en rejilla Bootstrap

                data.productos.forEach(p => {
                    html += `
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="${p.fotoRuta}" alt="${p.nombre}" 
                             class="card-img-top mx-auto d-block"
                             style="width: 150px; height: 150px; object-fit: cover; margin-top: 10px;" />
                        <div class="card-body">
                            <h5 class="card-title">${p.nombre}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">${p.nomCat}</h6>
                            <p class="card-text">${p.descripcion}</p>
                            <p class="card-text"><strong>Precio:</strong> S/ ${p.precio}</p>
                            <p class="card-text"><strong>Disponible:</strong> ${p.stock}</p>
                        </div>
                    </div>
                </div>
            `;
                });

                html += '</div>'; // Cierra la fila

                document.getElementById("resultados").innerHTML = html;
            });

    });
    //ajustar la paginacion abajooo
</script>

<div>
    @for (int i = 0; i < (int)ViewBag.npags; i++)
    {
        @Html.ActionLink((i + 1).ToString(), "Tienda", new { p = i, categoria = ViewBag.categoria, nombre = ViewBag.nombre }, new { @class = "btn btn-secondary" })
    }
</div>

<script src="~/Scripts/bundle.js"></script>
